<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">
	
<!--6. 配置RestTemplate -->
	<!--Http client Factory -->
	<bean id="httpClientFactory"
		class="org.springframework.http.client.SimpleClientHttpRequestFactory">
		<property name="connectTimeout" value="1000" />
		<property name="readTimeout" value="1000"  />
	</bean>

	<!--RestTemplate -->
	<bean id="restTemplate" class="org.springframework.web.client.RestTemplate" scope="prototype">
		<constructor-arg index="0">
	     		<list>
	     			<bean id="byteArrayHttpMessageConverter" class="org.springframework.http.converter.ByteArrayHttpMessageConverter"></bean>
	     			<bean id="stringHttpMessageConverter" class="org.springframework.http.converter.StringHttpMessageConverter">
	     				<constructor-arg value="UTF-8"></constructor-arg>
	     			</bean>
	     			<bean id="resourceHttpMessageConverter" class="org.springframework.http.converter.ResourceHttpMessageConverter"></bean>
	     			<bean id="sourceHttpMessageConverter" class="org.springframework.http.converter.xml.SourceHttpMessageConverter"></bean>
	     			<bean id="allEncompassingFormHttpMessageConverter" class="org.springframework.http.converter.support.AllEncompassingFormHttpMessageConverter"></bean>
	     			<bean id="jaxb2RootElementHttpMessageConverter" class="org.springframework.http.converter.xml.Jaxb2RootElementHttpMessageConverter"></bean>
	     			<bean id="mappingJackson2HttpMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"></bean>
	     		</list>
	     	</constructor-arg>
	</bean>
	  
	<!-- arrayList -->
	 <!-- <bean id="listImages" name="listImages" class="java.util.ArrayList" scope="session"> -->
	 <bean id="listImages" name="listImages" class="java.util.ArrayList">
	  <aop:scoped-proxy/>
	 </bean> 
	<!-- 定时器 -->
	<task:annotation-driven/>

</beans>
